@{
    ViewData["Title"] = "Lira";
}

<div class="jumbotron p-3">
    <div class="p-3 jumbotron-text">
        <h1 class="display-4">Lira</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor egestas eros. Integer tempus mi justo, nec maximus orci cursus in. Praesent vulputate vulputate mi, a tincidunt neque consectetur sit amet. Suspendisse eget lacinia elit, id pulvinar sapien. Etiam ut tellus eu quam scelerisque pretium. Sed consequat erat sed pretium ullamcorper. Donec nunc orci, convallis quis convallis varius, convallis at mauris. Donec sapien lorem, malesuada vitae arcu vel, finibus tristique erat. Integer pulvinar dolor in tincidunt tincidunt. Maecenas sagittis nisl nunc, id sollicitudin ante sodales vitae. Maecenas quam sem, bibendum nec arcu ac, iaculis porttitor risus. Sed sit amet feugiat ipsum. Nunc pellentesque sapien odio, sit amet volutpat enim volutpat a.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor egestas eros.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Signup</a>
        </p>
    </div>
</div>
