@model Lira.Models.Board

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Board @Model.Name</h4>
    <hr />
</div>
<div>
    <div>
        <a asp-action="Create" asp-route-boardid="@Model.Id" asp-controller="Panel">Create new panel</a>
    </div>
    @{
        var panels = (List<Panel>)ViewData["panels"];
    }
    <div class="container-fluid py-2">
        <div class="d-flex flex-row flex-nowrap">
            @foreach (Panel panel in @panels)
            {
                <div class="card card-body">@panel.Name</div>
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>